<!doctype html>
<html lang="en" ng-app="TodoListManager">
  <head>
    <meta charset="utf-8">
    <title>Todo List</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-mocks/angular-mocks.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="js/app.js"></script>
    <script src="js/todoListManagerController.js"></script>
  </head>

  <body>
    <div ng-controller="TodoListManagerController as listCtrl">
      <h3>Todo List</h3>
      <form>
        <input type="text" ng-model="listCtrl.taskName">
        <button class="addButton" ng-click="listCtrl.addTask()">Add</button>
      </form>
      <ul>
        <li ng-repeat="task in listCtrl.todoList" ng-hide="task.complete">
          <input type="checkbox" class="checkBox" ng-model="task.complete">
          <label class="taskName">{{task.name}}</label>
          <button class="deleteButton" ng-click="listCtrl.deleteTask(task)">x</button>
        </li>
      </ul>
    </div>
  </body>
</html>